main {
    text-align: center;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    color: #ffffff66;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    text-align: center;
    border: 1px solid #ffffff33;
    border-radius: 10px;
    box-shadow: 0 0 20px #ffffff20;
    z-index: 2;
    display: none;
    backdrop-filter: blur(5px);
    /* Add backdrop-filter for blur effect */
}

#logo {
    width: 75px;
    height: 50px;
}

.form-popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 10.5%;
    left: 40%;
    width: 420px;
    height: 500px;
    background: transparent;
    backdrop-filter: blur(20px);
    bottom: 0;
    right: 0;
    border: 2px solid #FFFFFF33;
    border-radius: 10px;
    box-shadow: 0 0 20px #ffffff20;
    z-index: 9;
}

.form-popup h1 {
    font-size: 70px;
    text-align: center;
    color: #c0c0c0;
}

.form-popup .box {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}

.form-popup .box input {
    position: relative;
    width: 98%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #ffffff33;
    border-radius: 40px;
    font-size: 15px;
    color: #ffffffdd;
    padding: 5px 12px;
}

.box input::placeholder {
    color: #ffffff88;
}

.box i {
    right: 20px;
    top: 50%;
    font-size: 50px;
    color: #999999;
    font-weight: 5;
}

.form-popup button {
    width: 100%;
    height: 60px;
    background: transparent;
    color: #ffffff88;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px #ffffff20;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
}

.form-popup button:hover {
    background-color: transparent;
    backdrop-filter: none;
    color: #ffffffdd;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
    background: url('banner.webp') no-repeat;
    background-size: cover;
}

header span {
    display: flex;
    align-items: center;
}

header img {
    max-height: 50px;
    margin-right: 10px;
}

header #profile {
    width: 100%;
    height: 100%;
}

#popup button {
    padding: 10px;
    margin: 5px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    backdrop-filter: none;
    color: white;
    border: none;
    border-radius: 5px;
}

#popup button:hover {
    background-color: #ffffff22;
    backdrop-filter: blur(10px);
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ffffffdd;
}

#main-content header h1 {
    font-size: 50px;
    letter-spacing: 5px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #ffff37, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffff37;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

#main-content header ul {
    height: 100%;
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}

#main-content header ul li button {
    width: 150px;
    height: 60px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 100px;
    background-color: transparent;
    line-height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#main-content header ul li button:hover {
    cursor: pointer;
    box-shadow: 50px 50px 10px #00000044 inset;
}

main .home {
    color: #ffffffcc;
    display: absolute;
    overflow: auto;
}

main h2 {
    width: 100%;
    font-size: 70px;
}

main .home .content {
    display: flex;
    font-size: 30px;
    text-justify: right;
}

main img {
    width: 50%;
    height: auto;
}

main .about {
    color: #ffffffcc;
    display: none;
    overflow: auto;
}

main .about .content {
    display: flex;
    font-size: 25px;
    text-justify: right;
}

main .about #badge {
    width: 30%;
    height: 30%;
}

main .about #charge {
    width: 30%;
    height: 100%;
}

main .rentEV {
    display: none;
}

main .leaseEV {
    display: none;
}

main .profile {
    display: none;
}
